*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "roboto",sans-serif;
}

header{
    background-color: #0074B7;
    height: 60px;
}

header .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    height: 100%;
    color: white;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    position: relative;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: .8rem;
    margin: .5rem .5rem;
    border-radius: .5rem;
    transition: all .3s;
}

nav ul li .active{
    color: black;
    background-color: white;
}

nav ul li a:hover{
    color: black;
    background-color: white;
    transition: all .3s;
}


/*subnav*/
ul li ul {
    background: #0074B7;
    visibility: hidden;
    opacity: 0;
    min-width: 3rem;
    position: absolute;
    margin-top: 1rem;
    left: 0;
    /* display: none;*/
    transition: all 0.3s ease;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    width: 100%;
    padding: 1rem .5rem;
}