@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu',sans-serif;
}

:root{
    --background:#DBF5F0;
    --menu:#A4E5E0;
    --hover:#0C6170;
}

body{
    background: var(--background);
}

.navigation{
    background: var(--menu);
    position: fixed;
    height: 100%;
    width: 250px; 
    padding-left: 10px;
    transition: all .5s;
    overflow: hidden;
}

.navigation.active{
    height: 100%;
    width: 70px;
}

.navigation ul {
    margin-top: 40px;
}

.navigation ul li{
    height: 50px;
    width: 95%;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
}

.navigation ul li:hover{
    background: var(--hover);
}

.navigation ul li:hover a .title,
.navigation ul li:hover a .icon{
    color: white;
}

.navigation ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navigation .icon{
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
    font-size: 1.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--hover);
}

.navigation .toggle{
    position: absolute;
    top: 55px;
    right: -15px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
    border-radius: 30%;
    background: var(--background);
    color: black;
}
.toggle:hover{
    background: var(--hover);
    color: white;
}

.navigation .text,
.navigation .title{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    color: var(--hover);
}

.navigation header{
    position: relative;
}

.navigation header .image-text{
    display: flex;
    align-items: center;
    color: var(--hover);
}
.navigation header .logo-text{
    display: flex;
    flex-direction: column;
}

@media (max-width:360px){
    
}